<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="project.astix.com.sancusnetworksfa">

    <uses-sdk android:minSdkVersion="14"/>

    <!-- GCM Permissions - End here -->
    <uses-permission android:name="android.permission.VIBRATE"/>

    <permission
        android:name="project.astix.com.sancusnetworksfa.permission.MAPS_RECEIVE"
        android:protectionLevel="signature"/>

    <!-- Permission to access data from network provider -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <!-- Permission for receiveing GCM message -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <!-- Permission to get the Gmail account(This is required only if you are developing application for lower than android version 4.0) -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION"/>
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR"/>
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.RECORD_VIDEO"/>
    <uses-permission android:name="android.permission.CLEAR_APP_CACHE"></uses-permission>
        <uses-feature android:name="android.hardware.camera" />
        <uses-feature android:name="android.hardware.camera.autofocus" />
        <uses-feature android:name="android.hardware.camera.front" android:required="false" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/StorelistTheme">


        <receiver
            android:enabled="true"
            android:exported="true"

            android:name="project.astix.com.sancusnetworksfa.BroadcastReceiverOnBootComplete"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">

            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <activity android:name="project.astix.com.sancusnetworksfa.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".DayStartActivity"  />

        <activity android:name="project.astix.com.sancusnetworksfa.AllButtonActivity" />
        <activity android:name="project.astix.com.sancusnetworksfa.StoreSelection" />
        <activity android:name="project.astix.com.sancusnetworksfa.LastVisitDetails" />
        <activity android:name="project.astix.com.sancusnetworksfa.LastVisitDetailsSecondPart" />

        <activity android:name="project.astix.com.sancusnetworksfa.ProductOrderFilterSearch"
                  android:windowSoftInputMode="adjustPan" />
        <activity android:name="project.astix.com.sancusnetworksfa.OrderReview"
                  android:windowSoftInputMode="adjustNothing" />
        <activity android:name="project.astix.com.sancusnetworksfa.ReturnActivity"
                  android:windowSoftInputMode="adjustPan" />


        <activity android:name="project.astix.com.sancusnetworksfa.SKUWiseSummaryReport_ByTab"
                  android:theme="@style/MyThemeTabWithdarktext" />
        <activity android:name="project.astix.com.sancusnetworksfa.SKUWiseSummaryReportMTD"
                  android:theme="@android:style/Theme.Light.NoTitleBar" />

        <activity android:name="project.astix.com.sancusnetworksfa.StoreAndSKUWiseSummaryReport_ByTab"
                  android:theme="@style/MyThemeTabWithdarktext" />
        <activity android:name="project.astix.com.sancusnetworksfa.StoreAndSKUWiseSummaryReportMTD"
                  android:theme="@android:style/Theme.Light.NoTitleBar" />

        <activity android:name="project.astix.com.sancusnetworksfa.StoreWiseSummaryReport_ByTab"
                  android:theme="@style/MyThemeTabWithdarktext" />

        <activity android:name="project.astix.com.sancusnetworksfa.CheckDatabaseData" />
        <activity android:name="project.astix.com.sancusnetworksfa.TargetVsAchievedActivity"
                              android:windowSoftInputMode="adjustPan" />





        <activity android:name="project.astix.com.sancusnetworksfa.DistributorCheckInFirstActivity" />
        <activity android:name="project.astix.com.sancusnetworksfa.DistributorCheckInSecondActivity"/>

        <activity android:name="com.example.gcm.NotificationActivity" />


        <activity
            android:name="project.astix.com.sancusnetworksfa.LauncherActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>




        <!--
        <activity
            android:name=".POSMaterialActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustNothing" >
        </activity>
        -->
        <!--
        <activity
            android:name=".ProductOrderSearch"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustNothing" >
        </activity>
        -->



        <activity
            android:name="project.astix.com.sancusnetworksfa.ProductOrderFilterSearch_RecycleView"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <activity
            android:name="project.astix.com.sancusnetworksfa.DistributorEntryActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
        </activity>



        <activity
            android:name="project.astix.com.sancusnetworksfa.SyncMaster"
            android:configChanges="orientation|keyboardHidden"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="project.astix.com.sancusnetworksfa.InvoiceSyncMaster"
            android:configChanges="orientation|keyboardHidden"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait">
        </activity>
        <!--
        <activity
            android:name=".My_Summary"
            android:configChanges="orientation|keyboardHidden"
            android:excludeFromRecents="true"
            android:label="@string/title_activity_stores_summary"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        -->
        <!--
        <activity
            android:name=".My_Summary_ByTab"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_stores_summary"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        -->


        <activity
            android:name="project.astix.com.sancusnetworksfa.StoreWiseSummaryReportMTD"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_stores_summary"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar">
        </activity>



        <activity
            android:name="project.astix.com.sancusnetworksfa.DetailReport_Activity"
            android:configChanges="orientation|keyboardHidden"
            android:excludeFromRecents="true"
            android:label="@string/title_activity_stores_summary"
            android:screenOrientation="portrait">
        </activity>
        <!--
        <activity
            android:name=".Add_New_Store"
            android:configChanges="orientation|keyboardHidden"
            android:excludeFromRecents="true"
            android:label="@string/title_activity_add_store"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name=".Add_New_Store_NewFormat"
            android:configChanges="orientation|keyboardHidden"
            android:excludeFromRecents="true"
            android:label="@string/title_activity_add_store"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        -->
        <!--
        <activity
            android:name=".Stock_Submit"
            android:configChanges="orientation|keyboardHidden"
            android:excludeFromRecents="true"
            android:label="@string/title_activity_add_store"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name=".New_Stock_Submit"
            android:configChanges="orientation|keyboardHidden"
            android:excludeFromRecents="true"
            android:label="@string/title_activity_return"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        -->
        <activity
            android:name="project.astix.com.sancusnetworksfa.InvoiceStoreSelection"
            android:configChanges="orientation|keyboardHidden"
            android:excludeFromRecents="true"
            android:label="@string/title_activity_return"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="project.astix.com.sancusnetworksfa.InvoiceProductList"
            android:configChanges="orientation|keyboardHidden"
            android:excludeFromRecents="true"
            android:label="@string/title_activity_return"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <!--
        <activity
            android:name=".WebPageActivity"
            android:configChanges="orientation|keyboardHidden"
            android:excludeFromRecents="true"
            android:label="@string/title_activity_return"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        -->


        <!--
        <service
            android:name="com.astix.sfatju.Location_Getting_Service"
            android:enabled="true" >
        </service>

        <activity
            android:name="com.astix.sfatju.GetLock"
            android:label="@string/title_activity_get_lock" >
        </activity>
        <activity
            android:name="com.astix.sfatju.PicMgr"
            android:configChanges="orientation|keyboardHidden"
            android:excludeFromRecents="true"
            android:label="@string/title_activity_pic_mgr"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        -->
        <!--
        <activity
            android:name="com.astix.sfatju.MapSunilActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.astix.sfatju.JSONParser"
            android:label="@string/app_name" >
        </activity>

        <service
            android:name="com.astix.sfatju.GPSTrackerService"
            android:enabled="true" />
        <service
            android:name="com.astix.sfatju.FusedTrackerService"
            android:enabled="true" />
        -->
        <!-- Goolge API Key -->
        <!--
                <meta-data
               android:name="com.google.android.maps.v2.API_KEY"
               android:value="AIzaSyAzpyoQozRjzBR39LcKWhCn8M9Qwp-aNac" />
        -->
        <!-- android:value="AIzaSyB-0zXRgQOO6UXY7r5oQEuSp8d1YObPlu4" -->
        <!-- Debugging key -->
        <!-- android:value="AIzaSyC6q9cMRezVxHVVXODisV8H9hqjEecH5cM" -->
        <!-- Releasing key -->

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>

        <!-- Home Activity -->

        <activity
            android:name="com.example.gcm.HomeActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:noHistory="true">
        </activity>

        <activity
            android:name="project.astix.com.sancusnetworksfa.Add_New_Store_DynamicSectionWise"
            android:configChanges="orientation|keyboardHidden"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar">
        </activity>
        <!-- Register Broadcast receiver -->



        <receiver
            android:name="com.example.gcm.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.example.gcm" />
            </intent-filter>
        </receiver>



        <!-- Register Service -->




        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>

        <service
            android:name="project.astix.com.sancusnetworksfa.AppLocationService"
            android:enabled="true"/>
        <service android:name="com.example.gcm.GCMNotificationIntentService"/>

        <activity
            android:name="project.astix.com.sancusnetworksfa.ViewAddedStore"
            android:label="@string/title_activity_view_added_store">
        </activity>
        <activity
            android:name="project.astix.com.sancusnetworksfa.AddNewStore_DynamicSectionWise"
            android:label="@string/title_activity_view_added_store"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="project.astix.com.sancusnetworksfa.QuotationActivity"
            android:label="@string/title_activity_quotation"
            android:screenOrientation="portrait"
            android:theme="@style/MyThemeTab">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name="project.astix.com.sancusnetworksfa.Delivery_Details_Activity"
            android:screenOrientation="portrait"
            android:theme="@style/detailActivityTheme">
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDOTGumK5KyUfvl7w3CX8IyXtBX5m5pCQw"/>

        <service
            android:name="project.astix.com.sancusnetworksfa.GeocodeAddressIntentService"
            android:exported="false"/>

        <activity android:name="project.astix.com.sancusnetworksfa.SalesValueTarget">
        </activity>
        <activity android:name="project.astix.com.sancusnetworksfa.IncentiveActivity">
        </activity>
        <activity android:name="project.astix.com.sancusnetworksfa.DetailReportSummaryActivity">
        </activity>



        <activity android:name="project.astix.com.sancusnetworksfa.DistributorMapActivity"
            android:screenOrientation="portrait"/>

        <activity android:name="project.astix.com.sancusnetworksfa.SyncMasterDistributor"
            android:screenOrientation="portrait"/>





        <activity android:name="project.astix.com.sancusnetworksfa.DSR_Registration"
            android:screenOrientation="portrait"
            android:theme="@style/StorelistTheme">
           <!-- <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->

        </activity>

        <activity android:name="project.astix.com.sancusnetworksfa.StoreClosedActivity"
            android:screenOrientation="portrait" />


        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="project.astix.com.sancusnetworksfa.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>
        <activity android:name="project.astix.com.sancusnetworksfa.AddedOutletSummaryReportActivity"
            android:screenOrientation="portrait"/>

        <activity android:name="project.astix.com.sancusnetworksfa.DialogDayEndSummaryActivity"
            android:theme="@style/DayEndDialogTheme"
            android:screenOrientation="portrait"/>
        <activity android:name="project.astix.com.sancusnetworksfa.CollectionActivityNew"
            android:screenOrientation="portrait" />

        <activity android:name="project.astix.com.sancusnetworksfa.ActualVisitStock"
            android:screenOrientation="portrait" />
        <activity android:name="project.astix.com.sancusnetworksfa.MerchandisingInstruction"
            android:screenOrientation="portrait" />




    </application>

</manifest>